In [1]:
import requests
import json
import pandas as pd
from pathlib import Path
import sqlite3 as sql

In [2]:
api_data = requests.get("https://ghoapi.azureedge.net/api/WHOSIS_000004")
# Deserialization - the act of converting a string to an object
neonatal_mortality_rate = json.loads(api_data.text)
#neonatal_mortality_rate = mortality rate in births per 1000 live births.
text = neonatal_mortality_rate['value']

In [3]:
dict_wanted_keys = {"Id","IndicatorCode","SpatialDim","TimeDim","Dim1","Value"}
l = [{k:v for k, v in i.items() if k in dict_wanted_keys} for i in text]
conn = sql.connect('database.db')
cur = conn.cursor()
# Check if table exists 
cur.execute(''' SELECT count(name) FROM sqlite_master WHERE type='table' AND name='Data' ''')
if cur.fetchone()[0]!=1 :
    cur.execute(''' CREATE TABLE IF NOT EXISTS Data (Id number,IndicatorCode text,SpatialDim text,TimeDim number,Dim1 text,Value number)''')
    for l_new in l:
        columns = ', '.join("`" + str(x).replace('/', '_') + "`" for x in l_new.keys())
        values = ', '.join("'" + str(x).replace('/', '_') + "'" for x in l_new.values())
        sqll = "INSERT INTO %s (%s) VALUES (%s);" % ('Data',columns,values)
        cur.execute(sqll)
    conn.commit()
conn.commit()
conn.close()

In [4]:
with open("Country_income_rate.csv") as f:
    data = pd.read_csv (r'Country_income_rate.csv')
    df = pd.DataFrame(data)
    df.drop(df.columns[[1, 3, 4,5]], axis = 1, inplace = True)
    df.dropna(inplace=True,axis=0)
    conn = sql.connect('database.db')
    cur = conn.cursor()
    cur.execute('CREATE TABLE IF NOT EXISTS Country_income_rate (Country_Code text,IncomeGroup text)')
    df.to_sql('Country_income_rate', conn, if_exists='replace', index = False)
    conn.commit()
    conn.close()

In [8]:
conn = sql.connect('database.db')
cur = conn.cursor()
cur.execute(''' CREATE TABLE IF NOT EXISTS Country_Group (area text,grouptext)''')
conn.commit()
cur.execute('''SELECT AVG(Value) FROM Data GROUP BY SpatialDim''')
conn.commit()
cur.execute('''SELECT Country_Code,SpatialDim 
            FROM Data 
            INNER JOIN Country_income_rate 
            ON Data.SpatialDim = Country_income_rate.Country_Code''')
conn.commit()
cur.execute("INSERT INTO Country_Group VALUES ")
conn.commit()
conn.close()

OperationalError: incomplete input

In [19]:
conn = sql.connect('database.db')
conn = sql.connect('database.db')
cur = conn.cursor()
cur.execute(''' CREATE TABLE IF NOT EXISTS Country_Group (area text,grouptext)''')
conn.commit()
cur.execute(''' INSERT INTO Country_Group(name,age,sex) 
    SELECT AVG(Value) FROM Data 
    GROUP BY SpatialDim
    INNER JOIN Country_income_rate Country_Code
    ON Data.SpatialDim=Country_income_rate.Country_Code ''')

OperationalError: near "INNER": syntax error