In [6]:
import requests
import json
import pandas as pd
from pathlib import Path
import sqlite3 as sql

In [3]:
api_data = requests.get("https://ghoapi.azureedge.net/api/WHOSIS_000004")
# Deserialization - the act of converting a string to an object
neonatal_mortality_rate = json.loads(api_data.text)
#neonatal_mortality_rate = mortality rate in births per 1000 live births.
text = neonatal_mortality_rate['value']

In [4]:
dict_wanted_keys = {"Id","IndicatorCode","SpatialDim","TimeDim","Dim1","Value"}
l = [{k:v for k, v in i.items() if k in dict_wanted_keys} for i in text]
conn = sql.connect('database.db')
cur = conn.cursor()
# Check if table exists 
cur.execute(''' SELECT count(name) FROM sqlite_master WHERE type='table' AND name='Data' ''')
if cur.fetchone()[0]!=1 :
    cur.execute(''' CREATE TABLE IF NOT EXISTS Data (Id number,IndicatorCode text,SpatialDim text,TimeDim number,Dim1 text,Value number)''')
    for l_new in l:
        columns = ', '.join("`" + str(x).replace('/', '_') + "`" for x in l_new.keys())
        values = ', '.join("'" + str(x).replace('/', '_') + "'" for x in l_new.values())
        sqll = "INSERT INTO %s (%s) VALUES (%s);" % ('Data',columns,values)
        cur.execute(sqll)
    conn.commit()
    cur.execute(''' DELETE FROM table WHERE Id IS NULL ''')
conn.commit()
conn.close()

In [57]:
#csv file to json ==> sql
df = pd.read_csv(r"Country_income_rate.csv")
new_dict_region = df.to_dict()
dict_wanted_keys = {"Country_Code","IncomeGroup"}
l = [{k:v for k, v in i.items() if k in dict_wanted_keys} for i in text]
conn = sql.connect('database.db')
cur = conn.cursor()
cur.execute(''' SELECT count(name) FROM sqlite_master WHERE type='table' AND name='country_income_data' ''')
if cur.fetchone()[0]!=1 :
    cur.execute(''' CREATE TABLE IF NOT EXISTS country_income_data (Country_Code text,IncomeGroup text)''')
    for l_new in l:
        columns = ', '.join("`" + str(x).replace('/', '_') + "`" for x in l_new.keys())
        values = ', '.join("'" + str(x).replace('/', '_') + "'" for x in l_new.values())
        sqll = "INSERT INTO %s (%s) VALUES (%s);" % ('country_income_data',columns,values)
        cur.execute(sqll)

conn.commit()
conn.close

OperationalError: near ")": syntax error